In [1]:
s = "This is basic python class"
len(s)

26

In [3]:
count = 0
for i in s :
    #count = count + 1
    count+=1
print(count)

26

In [4]:
s[::-1]

'ssalc nohtyp cisab si sihT'

In [5]:
s

'This is basic python class'

In [11]:
i=len(s)-1
while(i>=0):
    print(s[i], end=" ")
    i=i-1

s s a l c   n o h t y p   c i s a b   s i   s i h T

In [16]:
while i in range(len(s)-1, -1, -1) :
    print(s)-1

In [17]:
s = "ineuron"
v = "AaEeIiOoUu"

In [18]:
for i in s :
    if i in v:
        print("vowel", i)
    else:
        print("not vowel", i)

vowel i
not vowel n
vowel e
vowel u
not vowel r
vowel o
not vowel n

In [20]:
"s" in "sudh"

True

In [21]:
a ="tnent"
b= "malayalam"
c= "eye"

In [26]:
s = input()
v =s[::-1]
if s == v :
    print("Palindrom", s)
else:
    print("Not a pallindrome", s)

eye
Palindrom eye

In [23]:
a[::-1]

'tnent'

In [40]:
d = {"india" : "IN",
    "canada" : "CA",
    "china" : "CH",
    "united state" : "US"}

In [41]:
"india" in d

True

In [42]:
l1 =[]
l2 =[]
for i in d:
    if len(i)<= 5 :
        l1.append(i)
    else :
        l2.append(i)

In [43]:
l2

['canada', 'united state']

In [44]:
l1

['india', 'china']

In [45]:
d_1 = {"ineuron" :{
                        "a" : 14,
                        "b" : 10,
                        "c" : 4
                    },
       
        "course" :  {
                        "d" : 45,
                        "e" : 34,
                        "f" : 1
                    }
        }

In [53]:
for i in d_1.values():
    for j in i.values():
        print(j)

14
10
4
45
34
1

In [62]:
for i in d_1.values():
    print(max(i.values()))

14
45

In [59]:
d_1.values()

dict_values([{'a': 14, 'b': 10, 'c': 4}, {'d': 45, 'e': 34, 'f': 1}])

In [66]:
for i in d_1.keys():
    print(i)
    print(max(i.values()))

ineuron

AttributeError: 'str' object has no attribute 'values'

In [72]:
for i in d_1:
    print(i)
    print(max(d_1.values())

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_7324/160616727.py, line 3)

In [128]:
d1 ={"ineuron" :{"a" : 14, "b" : 10,"c" : 4},"course" : {"d" : 95, "e" : 34, "f" : 1},
    "g":34, "h":[95,6,7,8,9,3], "i":(45,34,2), "k": "sudh"}

In [133]:
r =[]
for i in d1.values():
    if type(i) == dict:
        r.append(max(i.values()))
    elif type(i) == list:
        r.append(max(i))
    elif type(i) == tuple:
        r.append(max(i))
    elif type(i) == str:
        r.append(max(i))
        pass
else:
    print(max(r))

TypeError: '>' not supported between instances of 'str' and 'int'

In [127]:
r =[]
for i in d1.values():
    if type(i) == dict:
        r.append(max(i.values()))
    elif type(i) == list:
        r.append(max(i))
    elif type(i) == tuple:
        r.append(max(i))
    elif type(i) == str:
        r.append(max(i))
        pass
    else:
        print(max(r))

45

In [130]:
a= (45,56)

In [131]:
type(a)

tuple

In [2]:
s = input()
v = s[::-1]
if s == v:
    print("palindrome", "")
else:
    print("not palindrome", "")

eye
palindrome

In [6]:
a = 10
if a<15:
    print("Krish")

Krish